
<img class='center' src="just.gif">

<br>
<p>ERLANG - Where did the planet originate from?</p>
<p>Who are the inhabitants of Erlang? How advanced are the species?<p>
<p>There is only one way to find out.....</p>
<p>This is not for the faint-hearted.  Who knows where you will end up</p>
