
<img class='center' src="neptune.gif">

<form action = "/earth" method = "post">
<input type="hidden" name="questionNumber" value="<%= @questionNumber  %>">

<% if @questionNumber == "1" %>
  <br>
  <br>
  <p>Cold War II has erupted between Russia and the United States.</p>
  <p>Nuclear bombs have been released and landed in your country, wiping out cities from the thermal blast.</p>
  <p>You suffer the effects of ionising radiation and feel ill.</p>
  <p>Do you still stay on planet Earth, or do you go to another planet in Elon Musk's SpaceX?</p>
  <br>
  <br>
<div style="text-align:center;">
  <button type="submit" value="stay" name="selection">Stay on Earth</button>
  <button type="submit" value="leave" name="selection">Leave Earth</button>
</div>
<% end %>

<% if @questionNumber =="2" && @selection == "stay" %>
  <br>
  <br>
  <p>Global warming melts the ice caps and floods planet Earth</p>
  <p>You drown and the human race is wiped out</p>
  <p>The human race was warned for centuries but ignored it</p>
<% end %>

<% if @questionNumber =="2" && @selection == "leave" %>
  <br>
  <br>
  <p>That's another £150,000 to pay out - you end up selling all of your assets, house and family treasures to pay for your space fare</p>
<% end %>
  
</form>
