

<form action = "/erlang" method = "post">
<input type="hidden" name="questionNumber" value="<%= @questionNumber  %>">


<% if @questionNumber == "1" %>
  <script>
document.getElementById("goErlang").addEventListener("click", function(){
      let audio = new Audio('sci-fi-whoosh.mp3')
      audio.play();
      });
</script>
<img class='center' src="erlang.gif">
  <p>Welcome to Erlang !</p>
 <div class="navigationButtonContainer">
  <button id="goErlang"type="submit" value="stay" name="selection">Let's go!</button>
  <script>
window.scrollTo(0,document.body.scrollHeight);
</script>
</div>

<% end %>

<% if @questionNumber == 2 %>
<img class='centerOriginal' src="erlang.gif">
<p>You land safely on the planet Erlang. There is a rocky crater surface.</p>
<p>It's just you and your pet monkey, and 2 apples in the space capsule.</p>
<p>The species on planet Erlang are called Erlangers.</p>
<p>It is customary for strangers to give the Erlangers a gift.</p>
<p>What do you give them as a gift - your monkey or the apples?</p>
<img src="monkey.png" style="float:left; width:30%">
<img src="red_apple.png" style="float:right; padding:10px">
<img src="red_apple.png" style="float:right; padding:10px">

 <div class="navigationButtonContainer">
  <button type="submit" value="monkey" name="selection">Monkey</button>
  <button type="submit" value="apples" name="selection">Apples</button>
</div>

<% end %>


<% if @questionNumber == 3 && @selection == "monkey" %>
<p>Are you kidding ? How could you give away your best friend Reece! You animal !!</p>
<p>The Erlangers are surprised at your ruthlessness and place you in their jails where you die.</p>
<p>The monkey lives happily in luxury, feasting on food amongst them.</p>

<img class='centerOriginal' src="monkey.png">
<img src="banana_bunch.png" style="float:left; position:relative; bottom:500px">
<div style="text-align:center;">
<div class="navigationButtonContainer">
<button type="submit" value="leave" name="selection">Goodbye traitor! Hope to never see you again.</button>
</div>
</div>
  <% comment do %> Some stuff that won't be rendered...
  <button type="submit" value="1" name="selection">1</button>
  <button type="submit" value="2" name="selection">2</button>
  <% end %>

<% end %>

<% if @questionNumber == 3 && @selection == "apples" %>
<img class='centerOriginal' src="erlang.gif">
<div class='center'>
<img src="red_apple.png">
<img style="padding:20px" src="red_apple.png">
</div>
  <p>How many apples do you give them?<p>
 <div class="navigationButtonContainer">
  <button type="submit" value="1" name="selection">1</button>
  <button type="submit" value="2" name="selection">2</button>
</div>
<% end %>

<% if @questionNumber == 4 && @selection == "1" %>
<img class='centerOriginal' src="erlang.gif">
  <p>The Erlangers take a bite of the red apple, and gaze longingly at the other one.</p>
  <p>They think one apple is not enough for them to all share and are unimpressed with your present. They banish you from the planet.</p>
  <div class="center">
    <div class="tenor-gif-embed" data-postid="7263498" data-share-method="host" data-width="35%" data-aspect-ratio="0.8326359832635983"><a href="https://tenor.com/view/money-donald-duck-cash-gif-7263498">Donald Duck Money GIF</a> from <a href="https://tenor.com/search/money-gifs">Money GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
     
  </div>
  <img src="red_apple.png" style="float:right; position:relative;top:-250px; left:-280px">
 
  <div class="navigationButtonContainer">
  <br>
  <button type="submit" value="leave" name="selection">Greedy Scrooge McDuck, go back to your Money Bin.</button>
</div>

<% end %>

<% if @questionNumber == 4 && @selection == "2" %>
<img class='centerOriginal' src="erlang.gif">
  <p>That's very generous of you. The Erlangers are pleased with your gifts.</p>
  <p>They take you into their palace and provide a banquet for you.</p>
  <p>Well done! You successfully conducted intergalactic space diplomacy with extraterrestrial life.</p>
<div class="navigationButtonContainer">
  <button type="submit" value="leave" name="selection">Back to extraterrestrial space</button>
</div>
<% end %>
</form>
