

<IMG SRC="neptune.gif">



<form action = "/erlang" method = "post">
<input type="hidden" name="questionNumber" value="<%= @questionNumber  %>">

<% if @questionNumber == "1" %>
  <br>
  <br>
 Welcome to Erlang !
  <br>
  <br>
  <button type="submit" value="stay" name="selection">Here goes</button>
 
<% end %>

<% if @questionNumber == 2 %>

  <br>
  <br>
You land safely on the planet Erlang. There is a rocky crater surface.
It's just you and your pet monkey, and 2 apples in the space capsule.
The species on planet Erlang are called Erlangers.
It is customary for strangers to give the Erlangers a gift.
What do you give them as a gift - your monkey or the apples ?
  <br>
  <br>
  <button type="submit" value="monkey" name="selection">Monkey</button>
  <button type="submit" value="apples" name="selection">Apple</button>
  
<% end %>


<% if @questionNumber == 3 && @selection == "monkey" %>

 <br>
 <br>
 Are you kidding ? How could you give away your best friend Reece! You animal !!
 The Erlangers are surprised at your ruthlessness and place you in their jails where you die.
 The monkey lives happily in luxury amongst them.
  <br>
  <br>
 
  <button type="submit" value="leave" name="selection">Good bye, Judas. Never see you again.</button>

  <% comment do %> Some stuff that won't be rendered...
  <button type="submit" value="1" name="selection">1</button>
  <button type="submit" value="2" name="selection">2</button>
  <% end %>
  
<% end %>

<% if @questionNumber == 3 && @selection == "apples" %>
  <br>
  <br>
  How many apples do you give them?
  <br>
  <br>
  <button type="submit" value="1" name="selection">1</button>
  <button type="submit" value="2" name="selection">2</button>
<% end %>

<% if @questionNumber == 4 && @selection == "1" %>
  <br>
  <br>
  The Erlangers are unimpressed with your presents.  They banish you from the planet.
  <br>
  <br>
  <button type="submit" value="leave" name="selection">Greedy Scrooge McDuck, go back to your Money Bin.</button>
  
<% end %>

<% if @questionNumber == 4 && @selection == "2" %>

  <br>
  <br>
  That's very generous of you. The Erlangers are pleased with your gifts.
  They take you into their palace and provide a banquet for you.
  <br>
  <br>
  <button type="submit" value="leave" name="selection"> Well done ! There's nothing else you need to do. Target acquired !</button>

    
<% end %>
</form>
