
<h2>The origins - Stardust and the Milky Way</h2>

<p>In the days of creation, large stars, bigger than our sun, became red super giant stars and then exploded as supernovas</p>
<p>Nuclear fusion from stars created energy giving us all the elements we needed for life, such as hydrogen</p>
<p>Mankind evolved building technologies for the space race, leading them to the Milky Way and beyond</p>
<p>Ruby programming language has led you this far, to the creation of this website and beyond.

<img class='center' src="supernova.jpg">

<p>Check out <a href="/about" title="">The Mystery of Erlang</a> to find out more about this planet which is not in our Milky Way.</p>
<h2> Select a planet to explore</h2>

<p>Welcome intrepid explorer! Many try to launch their voyage in the galaxy, but not many succeed or survive.</p>

<img class='center' src="p5.gif">

<p>To boldly go where no Rubyist has gone before...</p>
<p>Choose a planet to visit</p>

<form class="game" action="/" method="post" >
<input type="hidden" name="questionNumber" value="1">
<div class="navigationButtonContainer">
<button type="submit" value="earth" name="selection">Earth</button>
<button type="submit" value="erlang" name="selection">Erlang</button>
<button type="submit" value="saturn" name="selection">Saturn</button>
<button type="submit" value="jupiter" name="selection">Jupiter</button>
<button type="submit" value="mars" name="selection">Mars</button>
</div>
</form>

<%if @selection = "leave" %>
<script>
window.scrollTo(0,document.body.scrollHeight);
</script>
<%else %>
<% end %>

