<img class='center' src="jupiter.gif">

<form action = "/jupiter" method = "post">
<input type="hidden" name="questionNumber" value="<%= @questionNumber  %>">

<% if @questionNumber == "1" %>
<p>Well done for being awesome in picking Jupiter.</p>
<p>Looks like you've brought more than sweat to this planet, what is that smell....</p>
<p>Yes yes, I'm being funny, since you've arrived on the gas giant, get it? No? Google it when you get back, if you get back muhaha</p>
<p>How do you wish to proceed in this smelly environment (bear in mind, you may not be able to breathe soon)</p>

    <div style="text-align:center;">
        <button type="submit" value="one" name="selection">Option 1: Attack with stink bombs</button>
        <button type="submit" value="two" name="selection">Option 2: Run around screaming that you can't breathe</button>
        <button type="submit" value="three" name="selection">Option 3: Use the gas mask you managed to remember to bring with you</button>
    </div>
<% end %>

<% if @questionNumber == 2 && @selection == "one"%>
<p>Someone was dropped as a baby...</p>

      <div style="text-align:center;">
          <button type="submit" value="leave" name="selection">Leave this place.</button>
      </div>
<% end %>

<% if @questionNumber == 2 && @selection == "two" %>
<p>Really? How is that going to truly help?</p>

      <div style="text-align:center;">
          <button type="submit" value="leave" name="selection">Leave this place.</button>
      </div>
<% end %>

<% if @questionNumber == 2 && @selection == "three" %>
<p>Aren't you smart for bringing that with you? You survived long enough to stop Jupiter from becoming extinct!</p>

    <div style="text-align:center;">
        <button type="submit" value="leave" name="selection">Target achieved. Go save another planet...</button>
    </div>
<% end %>

</form>
