<!DOCTYPE html>
<html>
<head>
<title>ADVENTURE GAME IN RUBY</title>

<link href='https://fonts.googleapis.com/css?family=Bangers|Open+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

<link rel='stylesheet' href='/css/normalize.css'>
<link rel='stylesheet' href='/css/drop-in.css'>
<link rel='stylesheet' href='/css/application.css'>
</head>

<body>
  <div id="container">
    <div id='header'>
      <a href='/'><img src='/planets.jpg' alt='logo image' class='logo'/></a>
      <a href='/team' class='nav'>ERLANG TEAM</a>
      <a href='/about' class='nav'>THE CASE OF UNEXPLAINED</a>
      <a href='/' class='nav'>FIRST LANDING</a>
    </div>

    <main>
      <%= yield %>
    </main>

    <footer>
    <br>
    <p>© CODE FIRST:GIRLS presents</p>
    <p>© ERLANG ENTERTAINMENT</p>
    <p>© TEXT-BASED ADVENTURE GAME IN RUBY</p>
    <p>© By Lisa, Ariola, Hazel & Angela</p>
  </footer>

	
</body>
</html>
