<img class='center' src="mars.gif">

<form action = "/mars" method = "post">
<input type="hidden" name="questionNumber" value="<%= @questionNumber  %>">

<% if @questionNumber == "1" %>
  <p>Welcome to the Red Planet.</p>
  <p>Mars is the most Earth-Like of all the planets. Both China and Russia are in the space race to colonise Mars. You must act fast!</p>
  <p>Landing on Mars is tricky as crater sand can bury you alive.</p>
  <p>You'll be presented with two questions at once. We know, this is a poor timing, but please answer immediately.</p>
   <br>
   <br>
   <p>Is there a water on Mars? Is a day on Mars is longer than one on Earth?</p>
  <br>
  <div class="navigationButtonContainer">
  <button type="submit" value="yes" name="selection">Yes</button>
  <button type="submit" value="no" name="selection">No</button>
</div>

<% end %>

<% if @questionNumber == 2 && @selection == "yes"%>
<p>Congratulations for being so focused throughout. Your children would live in piece on an independent Mars.</p>
<div class="navigationButtonContainer">
  <button type="submit" value="leave" name="selection">Choose your next planet to save</button>
</div>
<% end %>

<% if @questionNumber == 2 && @selection == "no"%>
<p> That is not exactly true. You did not know that water on Mars is frozen in the ground, and a day on Mars is longer than one on Earth. It is time to die.</p>
<div class="navigationButtonContainer">
 <button type="submit" value="leave" name="selection">Play again</button>
</div>
<% end %>

</form>
