<img class='center' src="mars.gif">

<form action = "/mars" method = "post">
<input type="hidden" name="questionNumber" value="<%= @questionNumber  %>">

<% if @questionNumber == "1" %>
  <p>Welcome to the Red Planet.</p>
  <p>Mars is the most Earth-Like of all the planets. China, Russia and the USA are in the space race to colonise Mars. You must act fast!</p>
  <p>Landing on Mars is tricky as crater sand can bury you alive.</p>
  <p>The Martians will help you if you can impress them with your knowlege about Mars.</p>
   <br>
   <br>
   <p>Why is Mars red?</p>
  <br>
  <div class="navigationButtonContainer">
  <button class="marsButton" type="submit" value="yes" name="selection">Because of rust present in the rocks</button>
  <button class="marsButton" type="submit" value="no" name="selection">Someone drew on it with a mega-large red pen</button>
</div>

<% end %>

<% if @questionNumber == 2 && @selection == "yes"%>
<p>That's right. Iron in the dust reacted with oxygen, producing a red rust colour.</p>
<p>The sky appears red as the storms carry the dust into the atmosphere. 
<p>You have the edge over the rest!</p> 
<p>The Martians welcome you to their planet. Welcome esteemed guest! </p>
<p>Live Long and Prosper. A High Martian Five! </p>
<div class="navigationButtonContainer">
  <button class="marsButton" type="submit" value="leave" name="selection">Choose your next planet to save</button>
</div>
<% end %>

<% if @questionNumber == 2 && @selection == "no"%>
<p>Very good guess, but not quite. You start to sink, and the Martians walk away, unimpressed with your lack of research about them.</p>
<p>Mars is lost to the others in the space race.</p>
<div class="navigationButtonContainer">
 <button class="marsButton" type="submit" value="leave" name="selection">Play again</button>
</div>
<% end %>

</form>
