<h1> MEET THE ERLANG TEAM: </h1>

<h3>LISA</h3>
<h3>ARIOLA</h3>
<h3>HAZEL</h3>
<h3>ANGELA</h3>

<IMG style="float: center;"  SRC="nasa.gif" width="1150" height="auto">
<small>Photo by NASA on https://www.nasa.gov.</small>
<div id="openweathermap-widget-18"></div>

<script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 18,cityid: '2643743',appid: '18619bea0ba67fb0a69502b47c39d45b',units: 'metric',containerid: 'openweathermap-widget-18',  });  (function() {var script = document.createElement('script');script.async = true;script.charset = "utf-8";script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();
</script>

</div>
