#header {
  display: block;
  padding-top: 30px;
  height: 90px;
  margin:0px;
}

#header > a.nav {
  padding-top: 20px;
  padding-left: 100px;
  float: right;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: right;
  color: #8a8a8a;
}

#container {
  width: 1180px;
  height: 543px;
  margin-left: auto;
  margin-right: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
img.logo {
  height: 70px;
  border-radius: 2px;
  border-radius: 2px;
  background-color: #ffffff;
  display: inline-block;
}
.icon {
  width: 50px;
  display: block;
  margin: auto;
}
